body {
	font-family: Arial;
}

/* Style the tab */
.tab {
	overflow: hidden;
	border: 2px solid #ccc;
	background-color: skyblue;
}

/* Style the buttons inside the tab */
.tab button {
	background-color: skyblue;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
	background-color: steelblue;
}

/* Create an active/current tablink class */
.tab button.active {
	background-color: slateblue;
	color: white;
}

/* Style the tab content */
.tabcontent {
	display: none;
	padding: 6px 12px;
	border: 2px solid #ccc;
	border-top: none;
}



.link-list>li {
	margin-top: 0.5em;
}

/*prevents links from graying out when clicked*/
.link-list>li>a {color: blue}
.link-list>li>a:active {color: red}
